*{
    margin: 0;
    padding: 0;
}

.slidehome{
    background-image: url(../images/844277.jpg);
    width: 100%;
    min-height: 100%;
    background-position: center center;
    background-size: cover;
}

.logo{
    width: auto;
    height: 40px;
    background-position: center center;
    background-size: cover;
}

.container{
    padding-top: 55px;
    padding-bottom: 55px;
}

.starsimg{
    height: 200px;
    width: 100%;
    display: block;
}
