*{
    margin: 0;
    padding: 0;
}

.slidehome{
    background-image: url(../images/844277.jpg);
    width: 100%;
    min-height: 100%;
    background-position: center center;
    background-size: cover;
}

.slidevente{
    background-color: black;
    width: 100%;
    min-height: 100%;
    background-position: center center;
    background-size: cover;
}

.logo{
    width: auto;
    height: 40px;
    background-position: center center;
    background-size: cover;
}

.container{
    padding-top: 55px;
    padding-bottom: 55px;
}

.annonce-title{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.annonce-title h1, .annonce-title h2{
    color: white;
    text-shadow: 3px 3px 3px rgb(0,0,0,0.5);
}

.venteimg{
    height: 200px;
    width: 100%;
    display: block;
}

.description h4, .option h4{
    text-decoration: underline;
}
